@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f8fc ;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    font-weight: 700;
}

.home-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    margin-top: 30px;
}

.carousel-inner {
    height: 400px; 
}

.carousel-item img.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
}

 footer.footer {
     background-color: #1E88E5; 
     color: white;
     }

footer.footer h6 {
    font-size: 28px;
}

footer.footer p {
    font-size: 16px;
    margin-bottom: 0;
}
